<div id="background-pic">
	<img src="/background.jpg" style="width: 100%" id="picture">
</div>

<div id="content">
	<h1>Welcome to YourRecipe!</h1>
	<p>Search what you want to cook today</p>
	<form class="form-inline my-2 my-lg-0 d-flex justify-content-center">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</div>