#picture{
  position: relative;
  right: 0;
  min-width: 100%; 
  object-fit: cover;
  z-index: -1;
  height: 500px;
}

#background-pic{
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7) );
}

#content {
  position: absolute;
  bottom: 0;
  color: white;
  width: 100%;
  padding: 20px;
  text-align: center;
  opacity: 3;
  letter-spacing: 2px;
  top: 190px;
  height: 100px;

}

.recipes{
  width: 50%;
  border: 1px solid red;
}




